<!DOCTYPE html>
<html>
 <head prefix=
    "og: http://ogp.me/ns#
     fb: http://ogp.me/ns/fb#
     product: http://ogp.me/ns/product#">
    <meta property="fb:app_id"                 content="{YOUR_APP_ID}" />
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="Price Checker License" />
    <meta property="og:image"                  content="https://prices1.pottingers.us/barcode_scanner.webp" />
    <meta property="og:description"            content="Check the prices of products that you are interested in" />
    <meta property="og:url"                    content="https://prices1.pottingers.us/og/price-checker" />
    <meta property="product:plural_title"      content="Price Checker Licenses" />
    <meta property="product:price:amount"      content="0.99"/>
    <meta property="product:price:currency"    content="USD"/>
  </head>
</html>
